<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>buildless</id>
            <configuration>
                <httpHeaders>
                    <property>
                        <name>x-api-key</name>
                        <value>${env.BUILDLESS_APIKEY}</value>
                    </property>
                </httpHeaders>
            </configuration>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>pkgst</id>
            <name>Packagist for Maven</name>
            <url>https://maven.pkg.st/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
</settings>
