# Assumes use of IntelliJ -- adjust to the editors you use
*.iml
/.idea/

# Gradle -- pick this or Maven
/.gradle/
/build/

# Maven -- pick this or Gradle
/target/

# DO NOT commit, push, or share. The env vars may hold secrets.
/.envrc
