# Assumes use of IntelliJ or Fleet -- adjust to the editors you use
*.iml
/.idea/
/.fleet/

# Gradle -- pick this or Maven
/.gradle/
/build/

# Maven -- pick this or Gradle
/.profiler/
/target/

# DO NOT commit, push, or share. The env vars hold secrets.
# Remember to use shell syntax: for example, with Bash, it means
#    export OWASP_NVD_API_KEY=xxx
/.envrc
