name: Build with Maven directly

env:
  OWASP_NVD_API_KEY: ${{ secrets.OWASP_NVD_API_KEY }}

on:
  push:
    paths-ignore:
      - '*.md'
      - 'images/**'
  pull_request:
    paths-ignore:
      - '*.md'
      - 'images/**'
      # These ignores are specific to a cross-build against Gradle
      - 'build.gradle'
      - 'gradle*'
      - '.gradle'
      # These ignores are specific to this project
      - 'run-with-gradle.sh'
      - '.github/workflows/*gradle*'
  workflow_dispatch:

jobs:
  build:
    name: Builds and tests
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build and test
        run: ./mvnw --batch-mode --update-snapshots verify

      - name: Execute run script
        run: ./run-with-maven.sh
